{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta charset="utf-8" />
<title>SIT - AVMTB</title>
<link href="/custom_static//css/home.css" rel="stylesheet"/>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /><meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/cookieconsent/build/cookieconsent.min.css' %}" />
</head>
<body>
</script><header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title">
					<a href="/"><img id="Image1" src="/custom_static/img/logo.gif" /></a>
					&nbsp; <a href="/">Area Vasta Metropoli Terra di Bari</a>
				</p>
			</div>
			<div class="float-right">
				<section id="login">
					
							
						
				</section>
				<nav>
					<br /><br />
					{% include 'frontend/include/menu_home.html' %}
				
					 
				</nav>
			</div>
		</div>
	</header>
	<div id="body">
		

		<section class="content-wrapper main-content clear-fix">
			
    <h3>Informazioni e Assistenza</h3>
    <ul> <li>Per malfunzionamenti o problemi tecnici inviare una mail a:&nbsp;<a href="mailto:Assistenza@egov.ba.it">Assistenza@egov.ba.it</a></li>
        <li> Clicca <a href="https://www.idp.regione.puglia.it/idpUtenti/faq.jsp" target="_blank">QUI </a>per consultare le FAQ del Portale di gestione dei dati di accesso unificati della regione puglia</li> 

    </ul> 

		</section>
        <input type="hidden" name="UTENTE" value="anonimo" />
	</div>
<script type="text/javascript" src="{% static 'bower_components/cookieconsent/build/cookieconsent.min.js' %}"></script>
{% include 'core/include/cookieconsent.html' %}
</body>
</html>