<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta charset="utf-8" />
<title>SIT - AVMTB</title>
<link href="/custom_static//css/home.css" rel="stylesheet"/>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /><meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light-border.css" />
</head>
<body>
</script><header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title">
					<a href="/"><img id="Image1" src="/custom_static/img/logo.gif" /></a>
					&nbsp; <a href="/">Area Vasta Metropoli Terra di Bari</a>
				</p>
			</div>
			<div class="float-right">
				<section id="login">
					
							
						
				</section>
				<nav>
					<br /><br />
					{% include 'frontend/include/menu_home.html' %}
				
					 
				</nav>
			</div>
		</div>
	</header>
	<div id="body">
		

		<section class="content-wrapper main-content clear-fix">
			
    <h3>Per problemi tecnici non è possibile autenticarsi sul portale  SIT.<br>
Si prega di riprovare più tardi, ci scusiamo per il disagio.</h3>


		</section>
        <input type="hidden" name="UTENTE" value="anonimo" />
	</div>

</body>
</html>