{% extends "base.html" %}
{% load i18n %}
{% load g3wadmin_tags %}
{% load crispy_forms_tags %}


{% block custom_js_links_page %}
<script>

    config_id = {% if form.instance.pk %}'{{ form.instance.pk }}'{% else %}''{% endif %};

    ga.$projectSelect = $('#id_project');
    ga.$projectSelect.on('change', function(e){

        var value = $(this).val();

        // For ACL
        var $viewers_select = $("#id_viewer_users");
        var $viewer_groups_select = $("#id_viewer_user_groups");
        if (value) {
            $.ajax({
                url: '{% url 'cadastre-config-viewer-users' %}' + '?project_id='+value,
                success:function(res){
                    $viewers_select.html('');
                    $viewers_select.select2({data: res.viewer_users});
                    $viewer_groups_select.html('');
                    $viewer_groups_select.select2({data: res.group_viewers});
                }
            });
        } else {
            $("#id_viewer_users").select2('val', '');
            $("#id_viewer_user_groups").select2('val', '');
        }

        // For layers
        var $layers_select = $("#id_layers");
        if (value) {
            $.ajax({
                url: '{% url 'cadastre-config-project-layers' %}' + '?project_id='+value+'&config_id='+config_id,
                success:function(res){
                    $layers_select.html('');
                    $layers_select.select2({data: res.layers});
                }
            });
        } else {
            $layers_select.select2('val', '');
        }

    });
    // to start
    $(document).ready(ga.$projectSelect.trigger('change'));

</script>
{% endblock %}

{% block page_header %}
    <h1>Cadastre
    <small>{% trans 'Configuration application' %}</small>
    </h1>
{% endblock %}

{% block main_content %}
    <form method="post">
    {% crispy form %}
    {% g3wadmin_add_button_form redo=False %}
    </form>
{% endblock %}