{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ object.name }}</h3>
        {% if object.variation  %}{% trans 'Variation' %}: {{ object.variation }}{% endif %}
        {% trans 'Valid' %}: {{ object.fromdate }} {{ object.todate }}
    </div>
</div>
{% if object.description %}
<div class="row">
    <div class="col-md-12">
        <h4>{% trans 'Description' %}</h4>
        {{ object.description|safe }}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <h4>{% trans 'For data' %}</h4>
        {% trans 'To use in data' %}: <b>{{ object.slug }}</b>
    </div>
</div>
{% if projects %}
<div class="row">
    <div class="col-md-12">
        <h4>{% trans 'Projects and layers linked' %}</h4>
        <ul>
        {% for p in projects %}
            <li><a href="{% url 'qdjango-project-layers-list' p.project.group.slug p.project.slug %}" title="{% trans 'Layers' %}" >{{ p.project }} </a>:
                <ul>
                    {% for l in p.layers %}
                    <li>{{ l }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

