{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-lg btn-success" type="submit">
            <i class="fa fa-globe"></i>
            {% trans 'Geolocate - Generate ShapeFile'%}
        </button>
        <a class="btn btn-lg btn-default" data-widget-type="backHistory">
            <i class="fa fa-undo"></i>
            {% trans 'Redo/Back'%}
        </a>
        <a href="#" class="btn btn-lg bg-yellow" data-widget-type="detailItem" data-modal-title="{% trans 'Data structure for uploading' %}" data-detail-url="{% url 'geolocalexls:loaddata-info' %}">
            <i class="fa fa-info-circle"></i>
        </a>

    </div>
</div>