{% extends "base.html" %}
{% load i18n %}
{% load g3wadmin_tags %}
{% load guardian_tags %}



{% block page_header %}
<h1>
{% trans 'Cadastre projects' %}
</h1>
{% endblock %}


{% block main_content %}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box">
            <div class="box-body">
                {% trans 'Add, update or delete cadastre configurations: indicate what projects can show censuario data' %}
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <div class="box-header">
            {% if perms.cadastre.add_config %}
            <h3 class="box-title"><a href="{% url 'cadastre-config-add' %}"><i class="ion ion-plus-circled"></i></a> {% trans 'Configs' %}</h3>
            {% endif %}
        </div>
    </div>
    <div class="box-body">
        <table id="layers_table" class="table table-hover table-striped" data-widget-type="dataTable">
            <thead>
                <tr>
                    <th style="width:120px">Actions</th>
                    <th>{% trans 'Group' %}</th>
                    <th>{% trans 'Qdjango project' %}</th>
                    <th>{% trans 'Municipality cadastre code' %}</th>
                    <th>{%  trans 'Viewer users' %}</th>
                    <th>{% trans 'Viewer user groups' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                {% get_obj_perms user for object as "userObj_perms" %}
                {% get_obj_perms user for object.project as "userObj_project_perms" %}
                <tr id="config_{{ object.pk }}">
                    <td>
                        <span class="col-xs-6 icon">
                            {% if "change_config" in userObj_perms %}
                            <a href="{% url 'cadastre-config-update' object.id %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                            {% endif %}
                        </span>
                        <span class="col-xs-6 icon">
                            {% if "delete_config" in userObj_perms %}
                            <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"  data-widget-type="deleteItem" data-delete-url="{% url 'cadastre-config-delete' object.pk %}" data-item-selector="#config_{{ object.pk }}"><i class="ion ion-trash-b"></i></a>
                            {% endif %}
                        </span>
                    </td>
                    <td>{{ object.project.group.name }}</td>
                    <td>
                        {{ object.project.title }}
                        {% if "change_project" in userObj_project_perms %}
                            <a href="{% url 'qdjango-project-update' object.project.group.slug object.project.slug %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                        {% endif %}



                    </td>
                    <td>{{ object.codice_comune }}</td>
                    <td>
                        {% for viewer in object.viewers %}
                            {{ viewer.first_name }} {{ viewer.last_name }} ({{ viewer.username }})
                            {% if not forloop.last %}
                                <span> | </span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for gviewer in object.viewer_user_groups %}
                            {{ gviewer.name }}
                            {% if not forloop.last %}
                                <span> | </span>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}