{% extends "base.html" %}
{% load i18n %}


{% block page_header %}
    <h1>{% trans 'Cadastre' %}
    <small>{% trans 'Report' %}</small>
    </h1>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{ n_unita_immobiliari }}</h3>
                  <p>{% trans 'Real estate units'%}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{ n_particella }}</h3>
                  <p>{% trans 'Parcels' %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class='box-title'><i class='fa fa-database'></i> {% trans 'Qdjango Projects' %} </h3>
                </div>
                <div class="box-body">
                    {% if config_data|length > 0 %}
                        <div class="row">
                            <div class="col-xs-6">
                                <ul>
                                {% for config in config_data %}
                                    <li>{{ config.project  }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="col-xs-6">
                            </div>
                        </div>
                    {% else %}
                        <div class="callout callout-danger">
                            <h4>{% trans "Not yet 'Project' set!" %}</h4>
                            <p>{% trans 'Choose a project' %} <a href="{% url 'cadastre-config' %}">{% trans 'HERE' %}</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if widgets|length > 0 %}
    <div class="row">
        <div class="col-md-12"><h3>{% trans 'Module widgets' %}</h3></div>
        {% for widget in widgets %}
            {{ widget }}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}