{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load cadastre %}
{% load i18n %}


{% block page_header %}
    <h1>
        {% trans 'Cadastre user and DB CXF connections' %}
      </h1>
{% endblock %}


{% block main_content %}


<div class="row">
    <div class="col-md-6" id="cadastre_users">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    <a href="{% url 'cadastre-config-user-add' %}" class="btn btn-default"><i class="ion ion-plus"></i> {% trans 'User' %}</a>
                </h3>
                <h4 class="description">{% trans 'Editor 1 can load cadastre data' %}</h4>
            </div>
            <div class="box-body">
                {% if cadastre_users|length > 0 %}
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{% trans 'Actions' %}</th>
                            <th>{% trans 'Municipality' %}</th>
                            <th>{% trans 'User' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in cadastre_users %}
                        <tr id="cadastre_user_{{ object.pk }}">
                            <td>
                                {% comment %}
                                <span class="col-xs-2 icon">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}" data-widget-type="detailItem" data-detail-url="{% url 'qdjango-project-detail' group.slug object.slug %}" ><i class="ion ion-eye"></i></a>
                                </span>
                                {% endcomment %}

                                <span class="col-xs-2 icon">
                                    <a href="{% url 'cadastre-config-user-update' object.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                                </span>


                                <span class="col-xs-2 icon">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}" data-widget-type="deleteItem" data-delete-url="{% url 'cadastre-config-user-delete' object.pk %}" data-item-selector="#cadastre_user_{{ object.pk }}"><i class="ion ion-trash-b"></i></a>
                                </span>

                            </td>
                            <td>{{ object.codice_comune|code_to_comune_name }}</td>
                            {% if object.user.first_name %}
                            <td>{{ object.user.first_name }} {{ object.user.last_name }} ({{ object.user }})</td>
                            {% else %}
                            <td>{{ object.user }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                {% trans 'No users set.' %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-6" id="cxf_dbs">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    <a href="{% url 'cadastre-config-cxf-db-conn-add' %}" class="btn btn-default"><i class="ion ion-plus"></i> {% trans 'DB CXF Connection' %}</a>
                </h3>
                <h4 class="description">{% trans 'DB CXF table connections for municipality' %}</h4>
            </div>
            <div class="box-body">
                {% if db_conns|length > 0 %}
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{% trans 'Actions' %}</th>
                            <th>{% trans 'Municipality' %}</th>
                            <th>{% trans 'Host' %}</th>
                            <th>{% trans 'Database' %}</th>
                            <th>{% trans 'Table' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in db_conns %}
                        <tr id="db_conn_{{ object.pk }}">
                            <td>
                                {% comment %}
                                <span class="col-xs-2 icon">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}" data-widget-type="detailItem" data-detail-url="{% url 'qdjango-project-detail' group.slug object.slug %}" ><i class="ion ion-eye"></i></a>
                                </span>
                                {% endcomment %}

                                <span class="col-xs-2 icon">
                                    <a href="{% url 'cadastre-config-cxf-db-conn-update' object.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                                </span>


                                <span class="col-xs-2 icon">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}" data-widget-type="deleteItem" data-delete-url="{% url 'cadastre-config-cxf-db-conn-delete' object.pk %}" data-item-selector="#db_conn_{{ object.pk }}"><i class="ion ion-trash-b"></i></a>
                                </span>

                            </td>
                            <td>{{ object.codice_comune|code_to_comune_name }}</td>
                            <td>{{ object.db_host }}:{{ object.db_port }}</td>
                            <td>{{ object.db_name }}</td>
                            <td>{{ object.db_schema }}.{{ object.db_table }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                {% trans 'No connections set.' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}