{% load guardian_tags %}
{% load i18n %}


<div class="page_name tk-museo-sans">{% trans 'Group maps' %}</div>
{% if group.name %}
<h1 class="tk-source-sans-pro">{{ group.name }}
<span class="sub-title">{{ group.title }}</span>
</h1>
{% else %}
<h1 class="tk-source-sans-pro">{{ group.title }}</h1>
{% endif %}

  <div class="row">
    <div class="col-md-12 col-sd-12 maps-{{ group.slug }}">
    <div class="paragraphs">
        <div class="normal-text group-maps-description">
            {{ group.description|safe }}
        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12 col-sm-12">
                {% if group not in macrogroups %}
                <a class="btn btn-main back-group-btn" href="#">{% trans 'Back to city' %}</a>
                {% else %}
                <a class="btn btn-main back-home-btn" href="/">{% trans 'Back' %}</a>
                {% endif %}
            </div>
        </div>

        {% if children.children|length > 1 %}
            <div class="container padd-30">
            {% for gchild in children.children %}
                {% with group=gchild children=0 %}
                    {% get_obj_perms user for group as "group_perms" %}
                    {% include 'frontend/include/group_grid.html' %}
                {% endwith %}
            {% endfor %}
            </div>
        {% elif children.children|length == 1 %}
            {% with group=children.children.0 redirect=1 %}

            {% include 'frontend/include/sub_map_grid.html' %}

            {% endwith %}
        {% else %}

            {% include 'frontend/include/sub_map_grid.html' %}

        {% endif %}
    </div>

    </div>
</div>
