{% load i18n %}
{% load auth_extras %}
<div class="content-panel">
    <div class="content-box">
        <div class="icon-home">
            <a href="/">Home</a>
        </div>
        {% if user.is_authenticated %}
        <div class="welcome">
            {% if user.is_authenticated and spid_name %}
                {% trans 'Welcome' %} {{ spid_name }} {{ spid_lastname }}
            {% elif user.is_authenticated %}
                {% if user.first_name %}
                {% trans 'Welcome' %} {{ user.first_name }} {{ user.last_name }}
                {% else %}
                {% trans 'Welcome' %} {{ user }}
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
        {% if user.is_authenticated and not user|has_group:G3W_VIEWER1 and not user|has_group:G3W_VIEWER2 %}
        <div class="icon-admin-home">
            <a href="{% url 'home' %}">{% trans 'Adminstration' %}</a>
        </div>
        {% endif %}
        {% if user.is_authenticated%}
            {% if user|has_group:G3W_VIEWER1 or user|has_group:G3W_VIEWER2 %}
        <div class="icon-logout-home">
            {% if spid_name %}
            <a href="https://sit.egov.ba.it/Shibboleth.sso/Logout?return={{ request.scheme }}://{{ request.get_host }}/logout/?next=/">{% trans 'Logout' %}</a>
            {% else %}
            <a href="{% url 'logout'%}?next=/#login">{% trans 'Logout' %}</a>
            {% endif %}
        </div>
            {% endif %}
        {% endif %}
        <div class="page_name">All Pages</div>
            <h1 class="tk-source-sans-pro"></h1>
        <div class="paragraphs"></div>
    </div>
</div>