{% load i18n %}
{% load auth_extras %}
<ul id="menu">
    {% if user.is_authenticated and spid_name %}
        <li>{% trans 'Welcome' %} {{ spid_name }} {{ spid_lastname }}</li>
        <li><a href="/logout/?next=/">{% trans 'Logout' %}</a></li>
    {% elif user.is_authenticated %}
        {% if user.first_name %}
        <li>{% trans 'Welcome' %} {{ user.first_name }} {{ user.last_name }}</li>
        {% else %}
        <li>{% trans 'Welcome' %} {{ user }}</li>
        {% endif %}
        {% if user.is_superuser or user|has_group:G3W_EDITOR1 or user|has_group:G3W_EDITOR2 %}
        <li><a href="{% url 'home' %}">{% trans 'Administration' %}</a></li>
        {% else %}
        {% comment %}<li><a href="https://egov.ba.it/Shibboleth.sso/Logout?return={{ return_address }}logout/?next=/">{% trans 'Logout' %}</a></li>{% endcomment %}
        <li><a href="/logout/?next=/">{% trans 'Logout' %}</a></li>

        {% endif %}

    {% elif not user.is_authenticated %}

    {% comment %}<li><a id="hlAccedi" href="{{ SETTINGS.SPID_LINK }}">Accedi</a></li>{% endcomment %}
    <li><a id="hlAccedi" aria-haspopup="true" aria-expanded="false" href="{% url 'oidc_authentication_init' %}">{% trans 'Login' %}</a></li>
    {% endif %}
    <li><a id="hlAssistenza" href="{% url 'frontend-assistenza' %}" target="_blank">{% trans 'Support' %}</a></li>
</ul>