{% load i18n %}
{% load g3wadmin_tags %}
{% load cadastre %}

<table class="table table-hover table-striped" data-widget-type="dataTable">
    <thead>
        <tr>
            <th style="width: 120px">Action</th>
            <th>{%  trans 'STATE' %}</th>
            <th>{%  trans 'Municipality code' %}</th>
            <!--
            <th>{%  trans 'File' %}</th>
            {% if user.is_superuser %}
                <th>{%  trans 'Task ID' %}</th>
            {% endif %}
            -->
            <th>{%  trans 'N file' %}</th>
            <th>{%  trans 'Upload date' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for object in cxf_list %}
        {% with object.task_id|task_status as status %}
        <tr id="cxf_{{ object.id }}">
            <td>
                {% if status != 'PENDING' %}
                <span class="col-xs-2 icon">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}" data-widget-type="deleteItem" data-delete-url="{% url 'importcxf-delete' object.id %}" data-item-selector="#cxf_{{ object.id }}" ><i class="ion ion-trash-b"></i></a>
                </span>
                {% endif %}
                {% include 'cadastre/include/action_loadcxf.html' %}
                {% if status != 'PENDING' and user.is_staff%}
                <span class="col-xs-2 icon">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Clear Db by Task id' %}" data-widget-type="clearDBByTaskId" data-url="{% url 'cadastre-task-cleardb' object.task_id %}" data-task-id="{{ object.task_id }}"><i class="fa fa-eraser"></i></a>
                </span>
                {% endif %}
            </td>

            <td>{{ object.task_id|task_status_label }}
            {% if status == 'PENDING' %}
            <div class="progress progress-md active" data-widget-type="taskInfo" data-url="{% url "cadastre-api-task" object.task_id %}">
                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">0% Complete</span>
                </div>
              </div>
            {% endif %}
            </td>
            <td>{{ object.codice_comune|code_to_comune_name }} </td>
            <!--
            <td>{{ object.file }}</td>
            {% if user.is_superuser %}
                <td>{{ object.task_id }}</td>
            {% endif %}
            -->
            <td>{{ object.n_file }}</td>
            {% comment %}
            <td style="text-align: center">
                {% if object.is_aggiornamento %}
                <span class="fa fa-check-circle" style="color: orange"></span>
                {% endif %}
            </td>
            {% endcomment %}
            <td>{{ object.created }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>