{% extends "base.html" %}
{% comment %}
Detail template for CSW catalogs
{% endcomment %}
{% load i18n %}

{% block page_header %}
        <h1>{% trans 'Catalog' %}

        <small>{{ object.name }}</small>
        </h1>
{% endblock %}

{% block main_content %}

{% if user.is_superuser %}
<div class="row">
<div class="col-md-12 col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Catalog {{ object.name }}
                <a href="{% url 'catalog:update' catalog.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}"><i class="ion ion-edit"></i></a>
                <a href="{% url 'catalog:delete' catalog.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"><i class="ion ion-trash-b"></i></a>
            </h3>
        </div>
        <div class="box-body">
            <a class="btn btn-default btn-sm" target="_blank" href="{% url 'catalog:csw_by_slug' catalog.slug %}?SERVICE=CSW&amp;REQUEST=GetCapabilities">GetCapabilities</a>
            <a class="btn btn-info btn-sm" target="_blank" href="{% url 'catalog:csw_by_slug' catalog.slug %}?SERVICE=CSW&amp;REQUEST=GetCapabilities&amp;ELEMENTSNAME=full&amp;OUTPUTSCHEMA=http://www.isotc211.org/2005/gmd">GetCapabilities Inspire</a>
            {% if catalog.rndt_enabled %}<a class="btn btn-warning btn-sm" target="_blank" href="{% url 'catalog:rndt_by_slug' catalog.slug %}?SERVICE=CSW&amp;REQUEST=GetCapabilities&amp;ELEMENTSNAME=full&amp;OUTPUTSCHEMA=http://www.isotc211.org/2005/gmd">Get Catabilities RNDT</a>{% endif %}
            <a class="btn bg-purple btn-sm" target="_blank" href="{% url 'catalog_api:pod_by_slug' catalog.slug %}">DCAT_US (Project Open Data v1.1)</a>
        </div>
    </div>
</div>
</div>
{% endif %}

<div class="row">
<div class="col-md-12">
<div class="box box-success">
<div class="box-header with-border"><h3 class="box-title">{% trans 'Catalog records'%}</h3></div>
<div class="box-body">

<p>
    <strong>{% trans "Records" %}: {{ catalog.record_set.count }}</strong>
</p>

<table class="table" id="record-catalog-{{ catalog.slug }}" data-widget-type="dataTable">
    <thead>
        <tr>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Access' %}</th>
            <th>{% trans 'Records' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for record in catalog.record_set.all %}
        <tr>
            <td>{{ record.title }}</td>
            <td><a href="{% url 'catalog:record_update' record.pk %}">{{ record.rndt_dataset_identifier }}</a></td>
            <td>
                <a class="btn btn-default btn-xs" target="_blank" href="{% url 'catalog:csw_by_slug' catalog.slug %}?service=CSW&version=2.0.2&request=GetRecordById&outputFormat=application%2Fxml&outputSchema=http%3A%2F%2Fwww.opengis.net%2Fcat%2Fcsw%2F2.0.2&elementsetname=full&id={{ record.identifier }}">GetRecordById</a>
                {% if catalog.inspire_enabled %}<a class="btn btn-info btn-xs" target="_blank" href="{% url 'catalog:csw_by_slug' catalog.slug %}?service=CSW&version=2.0.2&request=GetRecordById&outputFormat=application%2Fxml&outputSchema=http%3A%2F%2Fwww.isotc211.org%2F2005%2Fgmd&elementsetname=full&id={{ record.identifier }}">GetRecordById Inspire</a>{% endif %}
                {% if catalog.rndt_enabled %}
                <a class="btn btn-warning btn-xs" target="_blank" href="{% url 'catalog:rndt_by_slug' catalog.slug %}?service=CSW&version=2.0.2&request=GetRecordById&outputFormat=application%2Fxml&outputSchema=http%3A%2F%2Fwww.isotc211.org%2F2005%2Fgmd&elementsetname=full&id={{ record.identifier }}">GetRecordById RNDT</a>
                <a class="btn btn-warning btn-xs" target="_blank" href="{% url 'catalog:rndt_service_by_slug' catalog.slug %}">RNDT Service Metadata</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="box box-success">
    <div class="box-header with-border"><h3 class="box-title">{% trans 'Catalog data' %}</h3></div>
<div class="box-body">
    <table class="table" id="catalog-data" data-widget-type="dataTable">
    <thead>
        <tr>
            <th>{% trans 'Param' %}</th>
            <th>{% trans 'Value' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for name, value in object.get_fields %}
        <tr><td>{% trans name %}</td><td>{% if value != 'None' %}{{ value }}{% else %}<span style="color: #999999">{% trans 'Not set' %}</span>{% endif %}</td></tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
</div>

</div>

<a type="submit" class="btn btn-lg btn-default" href="{% url 'catalog:csw_index' %}">{% trans "Back" %}</a>



{% endblock %}