{% load guardian_tags %}
{% load i18n %}

<div class="col-md-4">
    <div class="box box-solid bg-purple-gradient">
    <div class="box-header">
        <!-- tools box -->
        <div class="pull-right box-tools">
            <button class="btn btn-primary btn-sm pull-right bg-purple" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
        </div><!-- /. tools -->

        <i class="fa fa-legal"></i>
        <h3 class="box-title">
            {% trans 'Laws' %}
        </h3>
    </div>
    <div class="box-body">
        <div>
            {% trans 'Laws management module' %}
        </div>
    </div><!-- /.box-body-->
    <div class="box-footer no-border">
        <div class="row">
            <div class="col-xs-12 text-center" style="border-right: 1px solid #f4f4f4;">
                <div class="dashboard-box-footer-icon">
                    <a href="{% url 'law-list' %}">
                        <i class="ion ion-android-list"></i><br>
                        <span class="dashboard-box-footer-text">{% trans 'Laws' %}</span>
                    </a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
    </div>
</div>
</div>