{% load static %}
{% load i18n %}

<div>
    <h4>{% trans 'General aspects' %}</h4>
    <p>{% trans 'File extentions support: .csv, .xls. .xlsx' %}</p>
</div>

<div>
    <h4>{% trans 'Data' %} <b>({% trans 'x,y' %})</b></h4>
    <p>{% trans "The file of type (x, y) must contain the following columns:" %}</p>
    <ul>
        <li><i>x</i></li>
        <li><i>y</i></li>
    </ul>
    <p><strong>{% trans 'Important' %}</strong>: {% trans 'CSV file must have "comma (,)"  as field separator'%}</p>
    <p><small>**{% trans 'The order and position of columns is not mandatory'%}</small></p>
    <p class="text-center">
        <img src="{% static 'geolocalexls/img/xy_columns.png' %}">
    </p>

</div>
<div>
    <h4>{% trans 'Data' %} <b>({% trans 'Addresses' %})</b></h4>
    <p>{% trans 'The "address" type file must contain the following columns:' %}</p>
    <ul>
        <li><i>{% trans "cap (i.e: 56048)" %}</i></li>
        <li><i>{% trans "citta (i.e: volterra)" %}</i></li>
        <li><i>{% trans "indirizzo (i.e: via primo maggio)" %}</i></li>
        <li><i>{% trans "numciv (i.e: 10b)" %}</i></li>
    </ul>
    <p><small>**{% trans 'The order and position of columns is not mandatory'%}</small></p>
    <p class="text-center"><img src="{% static 'geolocalexls/img/address_columns.png' %}"></p>
</div>
<div>
    <h4>{% trans 'Data' %} <b>({% trans 'Cadastral' %})</b></h4>
    <p>{% trans 'The "cadastral" type file must contain the following columns:' %}</p>
    <ul>
        <li><i>{% trans "foglio (i.e: 10)" %}</i></li>
        <li><i>{% trans "numero (i.e: 110)" %}</i></li>
        <li><i>{% trans "sezione (can be empty or a single character i.e. A)" %}</i></li>
        <li><i>{% trans "tipo (can be: 'T' or 'F')" %}</i></li>
    </ul>
    <p><small>**{% trans 'The order and position of columns is not mandatory'%}</small></p>
    <p class="text-center">
        <img src="{% static 'geolocalexls/img/cadastral_columns.png' %}">
    </p>
</div>
<div>
    <h5><b>{% trans 'Example data' %}</b></h5>
    <p>{% trans 'Download the follow zip file for example data structure:' %}</p>
    <ul>
        <li><a href="{% static 'geolocalexls/doc/dati_di_esempio.zip' %}">dati_di_esempio.zip</a></li>
    </ul>
</div>

