{% extends "base.html" %}
{% comment %}
Index template for CSW catalogs
{% endcomment %}
{% load i18n %}

{% block page_header %}
        <h1>{% trans 'CSW published catalogs' %}
        </h1>
{% endblock %}

{% block main_content %}


<div class="row">
<div class="col-md-12">
<div class="box box-success">
<div class="box-header with-border">
    <a href="{% url 'catalog:create' %}" class="btn btn-info"><i class="ion ion-plus-circled"></i> {% trans "New catalog" %}</a>
</div>
<div class="box-body">
    {% if object_list.count %}
    <table id="csw-catalog-list" class="table" data-widget-type="dataTable">
        <thead>
        <tr>
            <th>{% trans 'Actions' %}</th>
            <th>{% trans 'Catalog' %}</th>
            <th>{% trans 'N record' %}</th>
            <th>{% trans 'Capabilities' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for catalog in object_list %}
            <tr>
                <td>
                    <span class="col-xs-4 icon">
                        <a href="{% url 'catalog:detail' catalog.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Show records' %}"><i class="ion ion-android-list"></i></a>
                    </span>
                    {% if user.is_superuser %}
                    <span class="col-xs-4 icon">
                        <a href="{% url 'catalog:update' catalog.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}"><i class="ion ion-edit"></i></a>
                    </span>
                    <span class="col-xs-4 icon">
                        <a href="{% url 'catalog:delete' catalog.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"><i class="ion ion-trash-b"></i></a>
                    </span>
                    {% endif %}
                </td>
                <td><strong>{{ catalog.name }}</strong></td>
                <td>{{ catalog.record_set.count }}</td>
                <td>
                    <a class="btn btn-default btn-sm" target="_blank" href="{% url 'catalog:csw_by_slug' catalog.slug %}?SERVICE=CSW&amp;REQUEST=GetCapabilities">GetCapabilities</a>&nbsp;
                    <a class="btn btn-info btn-sm" target="_blank" href="{% url 'catalog:csw_by_slug' catalog.slug %}?SERVICE=CSW&amp;REQUEST=GetCapabilities&amp;ELEMENTSNAME=full&amp;OUTPUTSCHEMA=http://www.isotc211.org/2005/gmd">GetCapabilities Inspire</a>
                    {% if catalog.rndt_enabled %}<a class="btn btn-warning btn-sm" target="_blank" href="{% url 'catalog:rndt_by_slug' catalog.slug %}?SERVICE=CSW&amp;REQUEST=GetCapabilities&amp;ELEMENTSNAME=full&amp;OUTPUTSCHEMA=http://www.isotc211.org/2005/gmd">Get Catabilities RNDT</a>{% endif %}
                    <a class="btn bg-purple btn-sm" target="_blank" href="{% url 'catalog_api:pod_by_slug' catalog.slug %}" >DCAT_US (Project Open Data v1.1)</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">{% trans "There are no CSW published catalogs" %}</div>
    {% endif %}

</div>
<div class="box-footer">
    <p><b>{% trans 'Important' %}</b>! {% trans 'The projects you want to use for metadata have to be public, exposed by Anonymoususer.' %}</p>
</div>
</div>
</div>
</div>

{% endblock %}