{% load i18n %}


{% if status == 'PENDING' and user.is_staff %}
<span class="col-xs-2 icon">
    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Revoke task' %}" data-widget-type="revokeTerminateTask" data-url="{% url 'cadastre-task-revoke' object.task_id %}" data-task-id="{{ object.task_id }}"><i class="ion ion-close-circled"></i></a>
</span>
{% endif %}
{% if status == 'FAILURE' and user.is_staff%}
<span class="col-xs-2 icon">
    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show problems' %}" data-widget-type="detailItem" data-detail-url="{% url 'cadastre-task-traceback' object.task_id %}"><i class="ion ion-bug"></i></a>
</span>
{% endif %}
<span class="col-xs-2 icon">
    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show info' %}" data-widget-type="detailItem" data-detail-url="{% url 'cxf-detail' object.pk %}" data-task-id="{{ object.task_id }}"><i class="ion ion-eye"></i></a>
</span>
