{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <h3>Dati importazione</h3>
        <ul class="list-unstyled">
            <li><strong>Data caricamento</strong>: {{ object.created }}</li>
            <li><strong>Tipo fornitura</strong>: {{ object.tipo_fornitura }}</li>
            <li><strong>Descrizione</strong>: {{ object.descrizione }}</li>
            <li><strong>Aggiornamento</strong>:
                {% if object.is_aggiornamento %}
                <span class="fa fa-check-circle" style="color: orange"></span>
                {% endif %}
            </li>
            <li><strong>Numero record</strong>: {{ object.n_record }}</li>
            <li><strong>Fogli estratti</strong>: {{ object.fogli_estratti }}</li>
            <li><strong>File caricato</strong>: {{ object.file }}</li>
            <li><h4>Date:</h4></li>
            <li><strong>Data richiesta</strong>: {{ object.data_richiesta }}</li>
            <li><strong>Data elaborazione</strong>: {{ object.data_eleborazione }}</li>
            <li><strong>Date selezione</strong>: <span style="color:blue; font-weight: bold;">
                {% if object.data_registrazione %}{{ object.data_registrazione }}{% endif %} - {{ object.data_selezione }}</span>
            </li>

        </ul>
        {% if user.is_superuser and user.is_staff  %}
        <h3>Dati admin:</h3>
        <ul class="list-unstyled">
            <li><strong>Task ID</strong>: {{ object.task_id }}</li>
        </ul>
        {% endif %}
    </div>
</div>